*{
            font-family: Arial;
        }
        p {
            color: blue;
        }
        .p1{
            text-align: center;
        }
        #p2{
            background-color: aqua;
        }
        footer p{
            font-size: 8px;
            color: darkslategray;
        }